.product_button{
    height: 40px;
    width: 40px;
}
.products{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.product_image{
    height: 250px;
}
.total_form{
    width: auto;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    margin: 20px;
}